p {
  font-family: Roboto, Arial;
  color: rgb(69, 69, 69);
  font-size: medium;
  font-weight: 900;
  line-height: 8px;
  margin-left: 10px;
}
body {
  margin: 0;
  margin-left: 96px;
  padding-top: 80px;
  background-color: rgb(245, 244, 244);
}